.table1{
    margin-left: 37%;

    
}

.table_header{
    margin-top:5%;
    margin-left: 50%;
    font-size: x-large;
}
table {
    border-collapse: separate;
    border-spacing: 50px 0;
  }

td {
    padding: 10px 0;
  }
  .form-header{
    font-size: x-large;
  }
  .form{
    margin-left: 27%;
}
#C1{
    margin-left: 50%;
}