.form{
  margin-left: 2%;
}

.table1{
  
display: flex;
justify-content: center; 

  
}

.table_header{
  margin-top:5%;
  margin-left: 50%;
  font-size: x-large;
}
.form{
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  padding: 10px 0;
}
.center{
  text-align: center;
}