.form{
    margin-left: 2%;
}

.table1{
    margin-left: 35%;

    
}

.table_header{
    margin-top:5%;
    margin-left: 50%;
    font-size: x-large;
}
.form{
    margin-left: 27%;
}
#C1{
    margin-left: 50%;
}
table {
    border-collapse: separate;
    border-spacing: 50px 0;
  }

td {
    padding: 10px 0;
  }