table {
    border-collapse: separate;
    border-spacing: 50px 0;
  }
  
  td {
    padding: 10px 0;
  }
  .center{
    display: flex;
  justify-content: center; 
  font-size: x-large;
  }
  
  .all{
    margin-left: 1%;
  }